html,
body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', 'Arial';
  font-size: 16px;
  height: 3000px;
  background-color: grey;
}
.a-button {
  cursor: pointer;
}
.m-navigationDesktop .a-link:first-child {
  margin-left: 0;
}
.m-navigationDesktop .a-link {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-family: 'Poppins', sans-serif;
  color: #005182;
  margin-left: 40px;
}
.m-navigationDesktop .a-button {
  font-size: 0.875rem;
  line-height: 1.037rem;
  font-weight: 700;
  color: #fff;
  background-color: #E96325;
  border-radius: 20px;
  margin-left: 40px;
  padding: 7px 27px 8px;
}
@media screen and (max-width: 1120px) {
  .m-navigationDesktop .a-link,
  .m-navigationDesktop .a-button {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 800px) {
  .m-navigationDesktop {
    display: none;
  }
}
.m-navigationMobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .m-navigationMobile {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .m-navigationMobile .a-button:first-child {
    margin-right: 65px;
  }
  .m-navigationMobile .a-popUpMenuButton {
    cursor: pointer;
    text-align: center;
    width: 28.3px;
  }
  .m-navigationMobile .m-popUpMenu {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 25px 0 0 25px;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.3s cubic-bezier(0.43, 0.25, 0.46, 0.52);
    width: 314px;
    top: 50px;
    right: -45px;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation {
    display: flex;
    flex-direction: column;
    padding: 43px 0 42px 30px;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation .a-link:first-child {
    margin-top: 0;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation .a-link {
    color: #005182;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 35px;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #D3EDFC;
    padding: 48px 25px 48px 30px;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .a-text {
    color: #005182;
    font-size: 1.25rem;
    line-height: 1.125rem;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .m-contacts-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    width: 100%;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .m-contacts-sub .a-button {
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    background-color: #E96325;
    padding: 10px 16px;
  }
  .m-navigationMobile .m-popUpMenu .m-socialNetworks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px 0 29px;
  }
  .m-navigationMobile .m-popUpMenu .m-socialNetworks .a-button {
    margin: 0;
  }
}
@media screen and (max-height: 650px) {
  .m-menu-content {
    height: 70vh;
  }
}
@media screen and (max-width: 330px) {
  .m-navigationMobile .a-button:first-child {
    margin-right: 10vw;
  }
}
.t-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(20, 74, 90, 0.14);
  display: flex;
  justify-content: center;
}
.t-header .o-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
  padding: 20px 0;
}
.t-header .o-content .a-logoMob {
  display: none;
}
@media screen and (max-width: 1180px) {
  .t-header .o-content {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .t-header {
    position: fixed;
    box-shadow: -2px 1px 12px rgba(20, 74, 90, 0.14);
  }
  .t-header .o-content {
    padding: 17px 35px 17px 21px;
  }
  .t-header .o-content .a-logoDesktop {
    display: none;
  }
  .t-header .o-content .a-logoMob {
    display: inherit;
  }
}
