@color-white: #fff;
@color-dark-blue: #005182;
@color-orange: #E96325;
@color-blue: #D3EDFC;

@set-block-width: 1120px;

html, body {
	width: 100%;
	display: flex;
	justify-content: center;

	font-family: 'Rubik', 'Arial';
  font-size: 16px;

  // height: 3000px;

  // TEST
	// background-color: grey;
}

// HEADER
.a-button {
	cursor: pointer;
}

.m-navigationDesktop {
	.a-link:first-child {
		margin-left: 0;
	}

	.a-link {
		font-size: 0.875rem;
		line-height: 1.3125rem;
		font-family: 'Poppins', sans-serif;
		color: @color-dark-blue;

		margin-left: 40px;
	}

	.a-button {
		font-size: 0.875rem;
		line-height: 1.037rem;
		font-weight: 700;
		color: @color-white;
		
		background-color: @color-orange;
		border-radius: 20px;

		margin-left: 40px;
		padding: 7px 27px 8px;
	}
}

@media screen and (max-width: 1120px) {
	.m-navigationDesktop {
		.a-link, .a-button {
			margin-left: 2vw;
		}
	}
}

@media screen and (max-width: 800px) {
	.m-navigationDesktop {
		display: none;
	}
}

.m-navigationMobile {
	display: none;
}

@media screen and (max-width: 800px) {

	.m-navigationMobile {
		width: 50%;
		display: flex;
		justify-content: flex-end;

		.a-button:first-child {
			margin-right: 65px;
		}

		.m-popUpMenu {
		  position: relative;
  	  z-index: 2;

			.a-checkbox {
			  display: block;
			  width: 40px;
			  height: 30px;
			  position: absolute;
			  top: -10px;
			  left: -5px;

			  cursor: pointer;
			  		  
			  opacity: 0; 
			  z-index: 2;
			}

  	  .a-checkbox:checked ~ .m-menu-content {
		  	transform: none;
			}

  	}

		.m-menu-content {

			overflow-y: scroll;
			display: flex;
			flex-direction: column;

		  position: absolute;
		  		  
		  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
		  background-color: @color-white;
		  border-radius: 25px 0 0 25px;

		  transform-origin: 0% 0%;
		  transform: translate(100%, 0);
		  transition: transform 0.3s cubic-bezier(.43,.25,.46,.52);
		  
		  padding: 43px 0 32.5px 0; 
		  width: 325px;
			top: 50px;
			left: -215px;

			.m-navigation {
				display: flex;
				flex-direction: column;
				padding: 0 0 42px 30px;

				.a-link:first-child {
					margin-top: 0;
				}

				.a-link {
					color: @color-dark-blue;
					font-size: 1.25rem;
					line-height: 1.5rem;
					font-weight: 500;

					margin-top: 35px;
				}
			}

			.m-contacts {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				background-color: @color-blue;

				padding: 48px 25px 48px 30px;

				.a-text {
					color: @color-dark-blue;
					font-size: 1.25rem;
					line-height: 1.125rem;
				}

				.m-contacts-sub {
					display: flex;
					justify-content: space-between;
					align-items: center;

					margin-top: 42px;
					width: 100%;

					.a-button {
						font-size: 0.875rem;
						font-weight: 700;
						color: @color-white;

						border-radius: 20px;
						background-color: @color-orange;

						padding: 10px 16px;
					}
				}
			}

			.m-socialNetworks {
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				margin-top: 32px;
				.a-button {
					margin: 0;
				}

			}
		}
	}	
}

@media screen and (max-width: 330px) {
	.m-navigationMobile {
		.a-button:first-child {
			margin-right: 10vw;
		}
	}
}


.t-header {
	position: fixed;
	z-index: 10;
	width: 100%;
	box-shadow: 0px 4px 10px rgba(20, 74, 90, 0.14);
	display: flex;
	justify-content: center;

	.o-content {
		display: flex;
		justify-content: space-between;
		align-items: center;


		width: @set-block-width;
		padding: 20px 0;

		.a-logoMob {
			display: none;
		}
	}
}

@media screen and (max-width: 1140px + 20px + 20px) {
	.t-header {
		.o-content {
			padding: 20px;
		}
	}
}

@media screen and (max-width: 800px) {
	.t-header {
		position: fixed;
		box-shadow: -2px 1px 12px rgba(20, 74, 90, 0.14);

		.o-content {
			padding: 17px 35px 17px 21px;

			.a-logoDesktop {
				display: none;
			}

			.a-logoMob {
				display: inherit;
			}
		}
	}
}