html,
body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', 'Arial';
  font-size: 16px;
}
.a-underlay {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.a-button {
  cursor: pointer;
}
.m-navigationDesktop .a-link:first-child {
  margin-left: 0;
}
.m-navigationDesktop .a-link {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-family: 'Poppins', sans-serif;
  color: #005182;
  margin-left: 40px;
}
.m-navigationDesktop .a-button {
  font-size: 0.875rem;
  line-height: 1.037rem;
  font-weight: 700;
  color: #fff;
  background-color: #E96325;
  border-radius: 20px;
  margin-left: 40px;
  padding: 7px 27px 8px;
}
@media screen and (max-width: 1120px) {
  .m-navigationDesktop .a-link,
  .m-navigationDesktop .a-button {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 800px) {
  .m-navigationDesktop {
    display: none;
  }
}
.m-navigationMobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .m-navigationMobile {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .m-navigationMobile .a-button:first-child {
    margin-right: 65px;
  }
  .m-navigationMobile .a-popUpMenuButton {
    cursor: pointer;
    text-align: center;
    width: 28.3px;
  }
  .m-navigationMobile .m-popUpMenu {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 25px 0 0 25px;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.3s cubic-bezier(0.43, 0.25, 0.46, 0.52);
    width: 314px;
    top: 49px;
    right: -45px;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation {
    display: flex;
    flex-direction: column;
    padding: 43px 0 42px 30px;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation .a-link:first-child {
    margin-top: 0;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation .a-link {
    color: #005182;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 35px;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #D3EDFC;
    padding: 48px 25px 48px 30px;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .a-text {
    color: #005182;
    font-size: 1.25rem;
    line-height: 1.125rem;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .m-contacts-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    width: 100%;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .m-contacts-sub .a-button {
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    background-color: #E96325;
    padding: 10px 16px;
  }
  .m-navigationMobile .m-popUpMenu .m-socialNetworks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px 0 29px;
  }
  .m-navigationMobile .m-popUpMenu .m-socialNetworks .a-button {
    margin: 0;
  }
}
@media screen and (max-height: 650px) {
  .m-popUpMenu {
    height: 70vh;
  }
}
@media screen and (max-width: 330px) {
  .m-navigationMobile .a-button:first-child {
    margin-right: 10vw;
  }
}
.o-header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(20, 74, 90, 0.14);
  background-color: #fff;
  width: 100%;
}
.o-header .o-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
  padding: 20px 0;
}
.o-header .o-content .a-logoMob {
  display: none;
}
@media screen and (max-width: 1180px) {
  .o-header .o-content {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .o-header {
    box-shadow: -2px 1px 12px rgba(20, 74, 90, 0.14);
  }
  .o-header .o-content {
    padding: 17px 35px 17px 21px;
  }
  .o-header .o-content .a-logoDesktop {
    display: none;
  }
  .o-header .o-content .a-logoMob {
    display: inherit;
  }
}
.o-productData .m-infoBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.o-productData .m-infoBlock .a-logoDesktop {
  margin-top: 85px;
}
.o-productData .m-infoBlock .a-logoMob {
  display: none;
}
.o-productData .m-infoBlock .a-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #005182;
  margin-top: 50px;
}
.o-productData .m-infoBlock .a-text {
  font-size: 1.125rem;
  line-height: 1.31rem;
  color: #005182;
  opacity: 0.7;
}
.o-productData .m-infoBlock .a-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005182;
  border-radius: 50.7px;
  margin-top: 25px;
  padding: 8.12px 18.95px 8.12px 8.12px;
}
.o-productData .m-infoBlock .a-button .m-textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12.18px;
}
.o-productData .m-infoBlock .a-button .m-textBlock .a-textBasic {
  color: #fff;
  font-family: 'Roboto';
  font-size: 0.6rem;
  line-height: 0.6875rem;
  letter-spacing: 0.145rem;
  margin-left: 0.5px;
}
.o-productData .m-infoBlock .a-button .m-textBlock .a-textSub {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.o-productData .m-infoBlock .a-textBanner {
  margin-top: 82px;
}
.o-productData .m-infoBlock .a-callButton {
  display: none;
}
.o-productData .m-form {
  width: 458px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 7px 10px 50px rgba(11, 58, 72, 0.33);
}
.o-productData .m-form .m-header {
  text-align: center;
  border-bottom: 1px solid #cdd8e0;
  padding-top: 32px;
  padding-bottom: 32px;
}
.o-productData .m-form .m-header .a-heading {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #005182;
}
.o-productData .m-form .m-main {
  box-sizing: border-box;
  padding: 32px 50px 40px 50px;
  width: 100%;
}
.o-productData .m-form .m-main .a-input {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
}
.o-productData .m-form .m-main .m-select .m-inputSelect {
  font-family: 'Rubik';
  font-size: 0.875rem;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 2;
  color: #005182;
  opacity: 1;
  padding: 12px 16px;
}
.o-productData .m-form .m-main .m-select .m-valuesContainer {
  position: fixed;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  border: 1px solid #A8D6E4;
  border-top: none;
  background-color: #fff;
  max-height: 330px;
  width: 358px;
  padding: 25px 0 29px 0;
  margin-top: -16px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.o-productData .m-form .m-main .m-select .m-valuesContainer::-webkit-scrollbar {
  display: none;
}
.o-productData .m-form .m-main .m-select .a-value {
  font-size: 0.875rem;
  line-height: 1.0625;
  opacity: 0.8;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  color: #005182;
  padding: 8px 0 8px 30px;
}
.o-productData .m-form .m-main .m-select .a-value:hover {
  background-color: #FFEBE1;
}
.o-productData .m-form .m-main .m-inputItemInfo {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
  margin-top: 21px;
  height: 80px;
}
.o-productData .m-form .m-main .m-inputName {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
  margin-top: 10px;
}
.o-productData .m-form .m-main .m-inputPhone {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 1180px) {
  .o-productData .a-image {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .o-productData .m-infoBlock .a-heading {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    margin-top: 40px;
  }
  .o-productData .m-infoBlock .a-text {
    line-height: 1.1875rem;
    margin-top: 8px;
  }
  .o-productData .m-form {
    width: 400px;
  }
  .o-productData .m-form .m-valuesContainer {
    width: 300px !important;
  }
}
@media screen and (max-width: 800px) {
  .o-productData .m-infoBlock .a-logoDesktop {
    display: none;
  }
  .o-productData .m-infoBlock .a-logoMob {
    display: inherit;
  }
  .o-productData .m-infoBlock .a-button {
    margin-top: 20px;
  }
  .o-productData .m-infoBlock .a-textBanner {
    margin-top: 40px;
  }
  .o-productData .m-infoBlock .a-callButton {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: 700;
    display: inherit;
    border-radius: 20px;
    color: #fff;
    background-color: #E96325;
    padding: 11px 33.5px 11px 34px;
    margin-top: 41px;
  }
  .o-productData .m-form {
    display: none;
  }
}
.o-main {
  width: 1120px;
  padding-top: 186px;
}
.o-main .o-productData {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1180px) {
  .o-main .o-productData {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 800px) {
  .o-main {
    padding-top: 135px;
  }
  .o-main .o-productData {
    justify-content: flex-start;
    padding-left: 30px;
  }
}
