@color-white: #fff;
@color-dark-blue: #005182;
@color-orange: #E96325;

@set-block-width: 1120px;

html, body {
	width: 100%;
	display: flex;
	justify-content: center;

	font-family: 'Rubik', 'Arial';
    font-size: 16px;

    color: @color-white;

    // TEST
    // height: 3000px;
	background-color: grey;
}

// HEADER

.m-navigationDesktop {
	.a-link:first-child {
		margin-left: 0;
	}

	.a-link {
		font-size: 0.875rem;
		line-height: 1.3125rem;
		font-family: 'Poppins', sans-serif;
		color: @color-dark-blue;

		margin-left: 40px;
	}

	.a-button {
		font-size: 0.875rem;
		line-height: 1.037rem;
		font-weight: 700;
		color: @color-white;
		
		background-color: @color-orange;
		border-radius: 20px;

		margin-left: 40px;
		padding: 7px 27px 8px;
	}
}

@media screen and (max-width: 1120px) {
	.m-navigationDesktop {
		.a-link, .a-button {
			margin-left: 2vw;
		}
	}
}

@media screen and (max-width: 800px) {
	.m-navigationDesktop {
		display: none;
	}
}

.m-navigationMobile {
	display: none;
}

@media screen and (max-width: 800px) {
	.m-navigationMobile {
		width: 50%;
		display: flex;
		justify-content: flex-end;

		.a-button:first-child {
			margin-right: 65px;
		}

		.a-button {
			background-color: transparent;
		}
	}
}

// @media screen and (max-width: 400px) {
// 	.m-navigationMobile {
// 		width: 80%;
// 		justify-content: space-between;

// 		.a-button:first-child {
// 			margin-left: 10vw;
// 		}
// 	}
// }


.t-header {
	width: 100%;
	box-shadow: 0px 4px 10px rgba(20, 74, 90, 0.14);
	display: flex;
	justify-content: center;

	.o-content {
		display: flex;
		justify-content: space-between;
		align-items: center;


		width: @set-block-width;
		padding: 20px 0;

		.a-logoMob {
			display: none;
		}
	}
}

@media screen and (max-width: 1140px + 20px + 20px) {
	.t-header {
		.o-content {
			padding: 20px;
		}
	}
}

@media screen and (max-width: 800px) {
	.t-header {
		position: fixed;
		box-shadow: -2px 1px 12px rgba(20, 74, 90, 0.14);

		.o-content {
			padding: 17px 35px 17px 21px;

			.a-logoDesktop {
				display: none;
			}

			.a-logoMob {
				display: inherit;
			}
		}
	}
}