html,
body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', 'Arial';
  font-size: 16px;
}
.m-inputItemInfo::-webkit-input-placeholder {
  color: #3C80AA;
}
.m-inputItemInfo::-moz-placeholder {
  color: #3C80AA;
}
/* Firefox 19+ */
.m-inputItemInfo:-moz-placeholder {
  color: #3C80AA;
}
/* Firefox 18- */
.m-inputItemInfo::placeholder {
  color: #3C80AA;
}
input::placeholder {
  color: #3C80AA;
}
input::-ms-input-placeholder {
  color: #3C80AA;
}
input:-ms-input-placeholder {
  color: #3C80AA;
}
.a-underlay {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.o-callRequestForm {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 6;
  background-color: #fff;
  box-shadow: 7px 10px 50px rgba(11, 58, 72, 0.33);
  border-radius: 25px;
  padding: 32px 0 40px;
  top: 20vh;
  width: 458px;
}
.o-callRequestForm .m-header {
  border-bottom: 1px solid #d9e5ed;
  text-align: center;
  width: 100%;
  padding-bottom: 32px;
}
.o-callRequestForm .m-header .a-heading {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  font-weight: 500;
  color: #005182;
}
.o-callRequestForm .m-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 50px 0 40px;
  width: 100%;
}
.o-callRequestForm .m-main .a-text {
  align-self: center;
  color: #3C80AA;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  width: 280px;
}
.o-callRequestForm .m-main .a-input {
  box-sizing: border-box;
  color: #3C80AA;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  padding: 12px 16px;
  width: 100%;
}
.o-callRequestForm .m-main .a-inputName {
  box-sizing: border-box;
  color: #3C80AA;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  padding: 12px 16px;
  width: 100%;
  margin-top: 32px;
}
.o-callRequestForm .m-main .a-inputPhone {
  box-sizing: border-box;
  color: #3C80AA;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  padding: 12px 16px;
  width: 100%;
  margin-top: 10px;
}
.o-callRequestForm .m-main .m-checkboxBlock {
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.o-callRequestForm .m-main .m-checkboxBlock .a-checkbox {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #57A0CD;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.o-callRequestForm .m-main .m-checkboxBlock .a-checkbox:checked {
  background-color: #E96325;
  box-shadow: 0 0 0 1px #57A0CD;
  border: 3px solid #fff;
}
.o-callRequestForm .m-main .m-checkboxBlock .m-text {
  -webkit-user-select: none;
          user-select: none;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #005182;
}
.o-callRequestForm .m-main .m-checkboxBlock .m-text .a-textHighlighted {
  color: #E96325;
  text-decoration: underline;
}
.o-callRequestForm .a-submit {
  align-self: center;
  display: flex;
  justify-content: center;
  font-family: 'Rubik';
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 700;
  border-radius: 20px;
  background-color: #E96325;
  width: 100%;
  max-width: 228px;
  padding: 12px 0;
  margin: 42px 0 0 0;
}
.o-callRequestForm .a-close {
  display: none;
}
.o-callRequestForm .a-image {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 478px;
}
@media screen and (max-width: 800px) {
  .o-callRequestForm {
    align-items: center;
    top: 10vh;
    width: 90%;
    max-width: 374px;
    padding-bottom: 50px;
  }
  .o-callRequestForm .m-header {
    padding: 0 0 32px;
  }
  .o-callRequestForm .m-main {
    align-items: center;
    padding: 30px 20px 0;
  }
  .o-callRequestForm .m-main .a-text {
    display: none;
  }
  .o-callRequestForm .m-main .a-inputName {
    margin-top: 0;
  }
  .o-callRequestForm .m-main .a-inputPhone {
    margin-top: 19px;
  }
  .o-callRequestForm .m-main .m-checkboxBlock {
    margin-top: 32px;
  }
  .o-callRequestForm .a-submit {
    margin-top: 30px;
  }
  .o-callRequestForm .a-close {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    color: #005182;
    background-color: #fff;
    border: 1px solid #005182;
    border-radius: 20px;
    width: 100%;
    max-width: 228px;
    padding: 12px 0;
    margin-top: 30px;
  }
  .o-callRequestForm .a-image {
    display: none;
  }
}
.m-navigationDesktop .a-link:first-child {
  margin-left: 0;
}
.m-navigationDesktop .a-link {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-family: 'Poppins', sans-serif;
  color: #005182;
  margin-left: 40px;
}
.m-navigationDesktop .a-callButton {
  font-size: 0.875rem;
  line-height: 1.037rem;
  font-weight: 700;
  color: #fff;
  background-color: #E96325;
  border-radius: 20px;
  margin-left: 40px;
  padding: 7px 27px 8px;
}
@media screen and (max-width: 1120px) {
  .m-navigationDesktop .a-link,
  .m-navigationDesktop .a-button {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 800px) {
  .m-navigationDesktop {
    display: none;
  }
}
.m-navigationMobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .m-navigationMobile {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .m-navigationMobile .a-button:first-child {
    margin-right: 65px;
  }
  .m-navigationMobile .a-popUpMenuButton {
    text-align: center;
    width: 28.3px;
  }
  .m-navigationMobile .m-popUpMenu {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 25px 0 0 25px;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.3s cubic-bezier(0.43, 0.25, 0.46, 0.52);
    width: 314px;
    top: 49px;
    right: -45px;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation {
    display: flex;
    flex-direction: column;
    padding: 43px 0 42px 30px;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation .a-link:first-child {
    margin-top: 0;
  }
  .m-navigationMobile .m-popUpMenu .m-navigation .a-link {
    color: #005182;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 35px;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #D3EDFC;
    padding: 48px 25px 48px 30px;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .a-text {
    color: #005182;
    font-size: 1.25rem;
    line-height: 1.125rem;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .m-contacts-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    width: 100%;
  }
  .m-navigationMobile .m-popUpMenu .m-contacts .m-contacts-sub .a-callButton {
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    background-color: #E96325;
    padding: 10px 16px;
  }
  .m-navigationMobile .m-popUpMenu .m-socialNetworks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px 0 29px;
  }
  .m-navigationMobile .m-popUpMenu .m-socialNetworks .a-button {
    margin: 0;
  }
}
@media screen and (max-height: 650px) {
  .m-popUpMenu {
    height: 70vh;
  }
}
@media screen and (max-width: 330px) {
  .m-navigationMobile .a-button:first-child {
    margin-right: 10vw;
  }
}
.o-header {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(20, 74, 90, 0.14);
  background-color: #fff;
  width: 100%;
}
.o-header .o-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
  padding: 20px 0;
}
.o-header .o-content .a-logoMob {
  display: none;
}
@media screen and (max-width: 1180px) {
  .o-header .o-content {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .o-header {
    box-shadow: -2px 1px 12px rgba(20, 74, 90, 0.14);
  }
  .o-header .o-content {
    padding: 17px 35px 17px 21px;
  }
  .o-header .o-content .a-logoDesktop {
    display: none;
  }
  .o-header .o-content .a-logoMob {
    display: inherit;
  }
}
.o-productData .m-infoBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.o-productData .m-infoBlock .a-logoDesktop {
  margin-top: 85px;
}
.o-productData .m-infoBlock .a-logoMob {
  display: none;
}
.o-productData .m-infoBlock .a-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #005182;
  margin-top: 50px;
}
.o-productData .m-infoBlock .a-text {
  font-size: 1.125rem;
  line-height: 1.31rem;
  color: #005182;
  opacity: 0.7;
}
.o-productData .m-infoBlock .a-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005182;
  border-radius: 50.7px;
  margin-top: 25px;
  padding: 8.12px 18.95px 8.12px 8.12px;
}
.o-productData .m-infoBlock .a-button .m-textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12.18px;
}
.o-productData .m-infoBlock .a-button .m-textBlock .a-textBasic {
  color: #fff;
  font-family: 'Roboto';
  font-size: 0.6rem;
  line-height: 0.6875rem;
  letter-spacing: 0.145rem;
  margin-left: 2px;
}
.o-productData .m-infoBlock .a-button .m-textBlock .a-textSub {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.o-productData .m-infoBlock .a-textBanner {
  margin-top: 82px;
}
.o-productData .m-infoBlock .a-callButton {
  display: none;
}
.o-productData .m-form {
  width: 458px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 7px 10px 50px rgba(11, 58, 72, 0.33);
}
.o-productData .m-form .m-header {
  text-align: center;
  border-bottom: 1px solid #cdd8e0;
  padding-top: 32px;
  padding-bottom: 32px;
}
.o-productData .m-form .m-header .a-heading {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: #005182;
}
.o-productData .m-form .m-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 32px 50px 40px 50px;
  width: 100%;
}
.o-productData .m-form .m-main .a-input {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
}
.o-productData .m-form .m-main .m-select {
  width: 100%;
}
.o-productData .m-form .m-main .m-select .m-inputSelect {
  font-family: 'Rubik';
  font-size: 0.875rem;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 2;
  color: #005182;
  opacity: 1;
  cursor: pointer;
  background-image: url(../images/dropdown-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px bottom 50%;
  padding: 12px 16px;
}
.o-productData .m-form .m-main .m-select .m-inputSelect:focus {
  cursor: text;
  background-image: url(../images/dropdown-arrow-up.svg);
}
.o-productData .m-form .m-main .m-select .m-valuesContainer {
  position: absolute;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
  border: 1px solid #A8D6E4;
  border-top: none;
  background-color: #fff;
  height: 315px;
  width: 358px;
  padding: 25px 0 29px 0;
  margin-top: -16px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.o-productData .m-form .m-main .m-select .m-valuesContainer::-webkit-scrollbar {
  display: none;
}
.o-productData .m-form .m-main .m-select .a-value {
  font-size: 0.875rem;
  line-height: 1.0625;
  opacity: 0.8;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  color: #005182;
  padding: 8px 0 8px 30px;
}
.o-productData .m-form .m-main .m-select .a-value:hover {
  background-color: #FFEBE1;
}
.o-productData .m-form .m-main .m-itemCondition {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  width: 100%;
}
.o-productData .m-form .m-main .m-itemCondition .a-text {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #3C80AA;
}
.o-productData .m-form .m-main .m-itemCondition .a-inputItemCoditionRate {
  display: none;
}
.o-productData .m-form .m-main .m-itemCondition .m-itemConditionRate {
  display: flex;
}
.o-productData .m-form .m-main .m-itemCondition .m-itemConditionRate .a-rateStar {
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-left: 12px;
}
.o-productData .m-form .m-main .m-fileUploadBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  width: 100%;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-textElements {
  color: #3C80AA;
  margin-top: 12px;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-textElements .a-textBasic {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-textElements .a-textSub {
  font-size: 0.625rem;
  line-height: 0.75rem;
  margin-top: 6px;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-uploadBlocksBasic {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
  width: 150px;
  margin-right: 10px;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-uploadBlocksBasic .m-jsAddedImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 70px;
  height: 70px;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-uploadBlocksBasic .m-jsAddedImageContainer .a-jsAddedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-uploadBlocksBasic .a-jsAddedCloseButton {
  position: absolute;
  cursor: pointer;
  filter: drop-shadow(0 0 1px #000);
  margin-top: -45px;
  margin-left: -45px;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-uploadBlocksBasic .a-jsAddedText {
  display: none;
  position: absolute;
  filter: drop-shadow(0 0 1px #000);
  color: #fff;
  font-size: 0.625rem;
  line-height: 0.75rem;
  right: 6%;
  bottom: 8%;
  z-index: 1;
  -webkit-user-select: none;
          user-select: none;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-clickUploadBlock {
  box-sizing: border-box;
  border: 1px solid #BEE0EB;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  background-image: url(../images/upload-photo.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-clickUploadBlock .a-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.o-productData .m-form .m-main .m-fileUploadBlock .m-uploadBlocksContainer .m-clickUploadBlock:first-child {
  background-image: url(../images/upload-photo-active.svg);
  border-color: #a8d6e4;
}
.o-productData .m-form .m-main .m-fileUploadBlock .a-uploadFilesInput {
  display: none;
}
.o-productData .m-form .m-main .m-fileUploadBlock .a-photosContainer {
  display: none;
}
.o-productData .m-form .m-main .m-textInputs .m-inputItemInfo {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
  margin-top: 21px;
  height: 80px;
}
.o-productData .m-form .m-main .m-textInputs .a-inputName {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
  margin-top: 10px;
}
.o-productData .m-form .m-main .m-textInputs .a-inputPhone {
  font-family: 'Rubik';
  font-size: 0.875rem;
  color: #005182;
  box-sizing: border-box;
  border: 1px solid #A8D6E4;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 16px;
  width: 100%;
  margin-top: 10px;
}
.o-productData .m-form .m-main .m-submitBlock {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.o-productData .m-form .m-main .m-submitBlock .a-submit {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 700;
  color: #fff;
  background-color: #E96325;
  border-radius: 20px;
  text-align: center;
  padding: 12px 72px;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .m-form {
    position: fixed;
    z-index: 6;
    top: 5vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90vw;
    height: 80vh;
    max-width: 374px;
    max-height: 710px;
  }
  .m-form .a-close {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    color: #005182;
    background-color: #fff;
    border: 1px solid #005182;
    border-radius: 20px;
    width: 100%;
    max-width: 228px;
    padding: 12px 0;
    margin-top: 30px;
  }
}
@media screen and (max-height: 810px) and (orientation: landscape) {
  .o-productData .m-form .m-header {
    padding: 3vh 0;
  }
  .o-productData .m-form .m-main .m-submitBlock {
    margin-top: 0;
  }
}
@media screen and (max-width: 1180px) {
  .o-productData .a-dottedArrowImage {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .o-productData .m-infoBlock .a-heading {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    margin-top: 40px;
  }
  .o-productData .m-infoBlock .a-text {
    line-height: 1.1875rem;
    margin-top: 8px;
  }
  .o-productData .m-form {
    width: 400px;
  }
  .o-productData .m-form .m-valuesContainer {
    width: 300px !important;
  }
}
@media screen and (max-width: 800px) {
  .o-productData .m-infoBlock .a-logoDesktop {
    display: none;
  }
  .o-productData .m-infoBlock .a-logoMob {
    display: inherit;
  }
  .o-productData .m-infoBlock .a-button {
    margin-top: 20px;
  }
  .o-productData .m-infoBlock .a-textBanner {
    margin-top: 40px;
  }
  .o-productData .m-infoBlock .a-callButton {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: 700;
    display: inherit;
    border-radius: 20px;
    color: #fff;
    background-color: #E96325;
    padding: 11px 33.5px 11px 34px;
    margin-top: 41px;
  }
}
.o-main {
  width: 1120px;
  padding-top: 186px;
}
.o-main .o-productData {
  display: flex;
  justify-content: space-between;
  padding-bottom: 68px;
}
@media screen and (max-height: 900px) and (orientation: landscape) {
  .o-main {
    padding-top: 97px;
  }
}
@media screen and (max-width: 1180px) {
  .o-main .o-productData {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 800px) {
  .o-main {
    padding-top: 135px;
  }
  .o-main .o-productData {
    justify-content: flex-start;
    padding-left: 30px;
  }
}
.advantages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
@media screen and (max-width: 1180px) {
  .advantages-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.advantages-wrapper__heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #005182;
}
@media screen and (max-width: 650px) {
  .advantages-wrapper__heading {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.advantages-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(150px, 333px));
  grid-gap: 20px;
  margin-top: 60px;
  width: 100%;
}
@media screen and (max-width: 650px) {
  .advantages-list {
    justify-content: space-evenly;
    grid-template-columns: repeat(2, minmax(140px, 250px));
    grid-gap: 13px;
    margin-top: 50px;
  }
}
.advantage-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 8px 9px 30px rgba(11, 58, 72, 0.08);
  border-radius: 25px;
  padding: 55px 29px 42px;
}
@media screen and (max-width: 650px) {
  .advantage-card {
    padding: 45px 20px 25px;
  }
}
.advantage-card__image {
  height: 100px;
}
@media screen and (max-width: 1260px) {
  .advantage-card__image {
    height: 60px;
  }
}
.advantage-card__heading {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #005182;
  margin-top: 25px;
  max-width: 212px;
  min-height: 30px;
}
@media screen and (max-width: 650px) {
  .advantage-card__heading {
    font-size: 0.8125rem;
    line-height: 0.9385rem;
    margin-top: 15px;
  }
}
.advantage-card__description {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #005182;
  margin-top: 19px;
  max-width: 275px;
}
@media screen and (max-width: 800px) {
  .advantage-card__description {
    display: none;
  }
}
.advantages-wrapper__button {
  font-size: 0.875rem;
  line-height: 1.0625;
  font-weight: 700;
  color: #E96325;
  border: 1px solid #E96325;
  border-radius: 20px;
  margin-top: 50px;
  padding: 7px 21px;
}
@media screen and (max-width: 800px) {
  .advantages-wrapper__button {
    padding: 12px 21px;
  }
}
